html {
	background: url('../media/feltbackground.png') fixed;
}

div#header {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	justify-content: center;
}	

img {
	height: 20%;
	width: 20%;
}

div.buttons {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

form {
	display: inherit;
}

div#bottomButtons {
	bottom: 20px;
	display: block;
	margin-left: 260px;
	position:absolute;
}

.button {
	padding: 15px;
	border: 1px solid black;
	border-right: 0;
	font-family: Tahoma, sans-serif;
	font-size: 0.9em;
	color: white;
	background-color: #cc0323;
	width: 180px;
	text-align: center;
}


#homeButton {
	display: none;
	border-right: 1px solid black;
}

div.hidden {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

.hidden div {
	width: 180px;
	height: 250px;
	visibility: hidden;
	opacity: 0.0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: lightgoldenrodyellow;
}

.hidden div select {
	width: 180px;
	height: 220px;
	background-color: inherit;
	opacaty: inherit;
	visibility: inherit;
	border: 0;
	overflow: auto;
}

.hidden div select option {
	font-family: Tahoma, sans-serif;
	font-size: 16px;
	padding-left: 30px;
	padding-top: 2px;
	opacaty: inherit;
	visibility: inherit;
}

.hidden div button {
	font-family: Tahoma, sans-serif;
	font-size: 16px;
	width: 50px;
	bottom: 30px;
	left: 5px;
	position: relative;	
}

.hidden #hiddengame button {
	font-family: Tahoma, sans-serif;
	font-size: 16px;
	width: 50px;
	bottom: 30px;
	left: 5px;
	position: relative;	
}

.hidden div input {
	margin: 0px;
	position: relative;
	width: 110px;
	left: 5px;
	bottom: 30px;
	overflow: hidden;
	font-family: Tahoma, sans-serif;
}











