.dice {
	visibility: hidden;
}

#die1 {
	position: relative;
}
#die2 {
	position: relative;
}

#die3 {
	position: relative;
}

#die4 {
	position: relative;
}

#die5 {
	position: relative;
}

#playingField {
	position: relative;
	height: 500px;
	width: 55%;
	display: inline-block;
	color: #ffffff;
	margin-top: -75px;
	z-index: 9;
}

#playingField div {
	display: inline-block;
	margin-top: 107px;
	margin-left: 40px;
}

#playingField div img{
	height: 80px;
	width: 80px;
}

#playingField #throwdice {
	padding: 15px;
	max-height: 50px;
	top: 115px;
	float: right;
	position: absolute;
	width: 100px;
	border-right: 1px solid black;
}

p {
	color: white;
	margin: 0;
	margin-top: -10px;
	font-family: Tahoma, sans-serif;
}

#saveddice {
	position: absolute;
	margin-left: 30%;
	height: 100px;
	width: 55%;
}
#saveddice .dice {
	display: inline-block;
	margin-left: 60px;
	height: 80px;
	width: 80px;
	top: 0px;
}

.scoresheet {
	position: relative;
	float: left;
	width: 30%;
	height: 600px;
	margin-top: -75px;
	z-index: 1;
}

.scoresheet>table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	background-color: white;
	border: 2px solid black;
	font-family: Tahoma, sans-serif;
}

.scoresheet>table td {
	border: 1px solid black;
	width: 50px;
	text-align: center;
}

.scoresheet>table td:first-child {
	text-align: left;
}
 td {
 	cursor: pointer;
 }

#bold {
	font-weight: bold;
}

#namebracket td {
	border-bottom: 2px solid black;
}
#topsumbracket td {
	border-top: 2px solid black;
}

#bonusbracket td { 
	border-bottom: 2px solid black;
}

#totsumbracket td {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	font-weight: bold;
}

#homeButton {
	display: flex;
	justify-content: center;
}

