.center img {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	justify-content: center;
	padding: 10px;
}

.center {
	margin: auto;
	width: 80%;
}

table.center {
	max-height: 500px;
}

#highscorelist {
	position: relative;
	border: 1px solid white;
	border-collapse: collapse;
    border-spacing: 20px 0px;
    width: 60%;
}

#highscorelist tr td {
	font-family: Tahoma, sans-serif;
	font-size: 32px;
	color: white;
	width: 80px;
	text-align: center;	
}

#hlisttoprow td {
	border-bottom: 2px solid white;
	text-align: center;
}

#labeltext {
	font-family: Tahoma, sans-serif;
	font-size: 20px;
	color: white;
	width: 70%;
	padding-top: 10px;
}

#controls{
	margin: 0px auto;
	margin-left: 50px;
}

#input{
	width: 40%;
}

#submit{
	font-size: 24px;
	margin-left: 5px;
}

div#pstats p {
	color: white;
	font-size: 28px;
	font-family: Tahoma, sans-serif;
	margin-left: 135px;
	margin-bottom: 0px;
}

div#gstats {
	color: white;
	font-size: 28px;
	font-family: Tahoma, sans-serif;
	margin-left: 150px;
	margin-top: 30px;
}

#tableTopRow {
	border-bottom: 2px solid white;	
}

#tableTopRow th {
	width: 80px;
	text-align: left;
}

#gameStatsTable {
	border-collapse: collapse;
    border-spacing: 0px;
    width: 98%;
    font-family: Tahoma, sans-serif;
	font-size: 18px;
    color: white;
    table-layout: fixed;
}

#playerStatsTable {
	border-collapse: collapse;
    border-spacing: 0px;
    width: 98%;
    font-family: Tahoma, sans-serif;
	font-size: 18px;
    color: white;
    table-layout: fixed;
}

#overflow {
	margin: 0;
	height: 500px;
	overflow: auto;
  	text-align: left;	
}

#overflow td{
  width: 80px;
  color: white;
  font-size: 16px;
}

#playerStatsBody td:last-child {
	width: 85px;
}

fieldset {
      border: 0;
    }

select {width: 200px;}

.overflow {height: 200px;}

label {display: block;}


