<div class="hidden">
		<div id=hiddengame>
		<div>
			<form id= "playgameselectform" action="" method="post">
				<select id="playgameselect" name="playersingame" size="10" multiple="multiple">
				</select>
			</form>
		</div>
			<input type="text" form="playgameselectform" id="newplayer" name="newplayer" placeholder="Lägg till spelare"/>
			<button type="submit" form="playgameselectform" id=playgameselectsubmit>OK</button>
		</div>
		<div id=hiddenpstats>
		<div>
			<form id= "pselectform" action="" method="post">
				<select id="pselect" name="getPlayerStats" size="10">
				</select>
			</form>
		</div>
			<input type="number" id="pselectInput" min="0" form="pselectform" name="getPlayerStats" placeholder="Ange id-nummer"/>
			<button type="submit" form="pselectform" id="pselectsubmit">OK</button>
		</div>
		<div id=hiddengstats>
		<div>
		<form id="gselectform" action="" method="post">
			<select id="gselect" name="getGameStats" size="10">
			</select>
		</form>
		</div>
			<input type="number" id="gselectInput" min="0" form="gselectform" name="getGameStats" placeholder="Ange id-nummer"/>
			<button type="submit" form="gselectform" id=gselectsubmit>OK</button>
		</div>
		<div id="hiddenhighscore"></div>
		<div id=hiddenhome></div>
	</div>
	<div class="buttons">
			<div>
				<input type="submit" id="newgame"
					title="Starta ett nytt spel – välj spelare från menyn"
					class="button" name="dbQuery" value="Spela">
			</div>
			<div>
				<input type="button" id="pstats"
					title="Spelarstatistik – välj spelare från menyn" class="button"
					name="dbQuery" value="Spelarstatistik">
			</div>
			 
			<div>
				<input type="button" id="gstats"
					title="Spelstatistik – välj spel från menyn" class="button"
					value="Spelstatistik">
			</div>	
	
	<form id="redirectForm" action="DBqueryServlet" method="GET">
			<div class="buttons">
				<input type="submit" id="highscore" title="Highscorelistan - topp 10!"
					class="button" name="dbQuery" value="Highscore">
			</div>
	</form>
			<div class="buttons">
				<input type="submit" id="homeButton" title="Till startsidan"
					class="button" value="Hem">
			</div>
	</div>